/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.auth-form {
	height: 100%;

	ion-item {
		--padding-start: 0;
		--inner-padding-end: 0;

		&.md {
			--border-width: 0 0 1px 0;
			--border-color: var(--ion-color-custom-text);
		}

		.label-floating {
			color: var(--ion-color-custom-text);
		}

		ion-input {
			font-size: 16px;
      --padding-top: 2px !important;
      --padding-bottom: 0px !important;
		}

		ion-button {
			&.button-has-icon-only {
				margin-top: 18px;
				margin-right: 0;

				ion-icon {
					font-size: 16px !important;
				}
			}
		}

		&.item-interactive-disabled {
			ion-label {
				opacity: 1 !important;
			}

			.native-input[disabled].sc-ion-input-md {
				opacity: 1 !important;
			}
		}
	}

	ion-text {
		font-size: 12px;
		color: var(--ion-color-paragraph);

		p {
			margin-top: 2px;
		}
	}

	ion-radio-group ion-item.md {
		--border-width: 0 0 1px 0;
	}
}


ion-menu {
	--width: 100%;
	ion-list-header {
		padding-inline-start: 25px;
	}

	.ion-list-menu {
		background: var(--ion-color-light);
		ion-item {
			--padding-start: 25px;
			--padding-end: 25px;
		}
	}

	.ion-menu-down {
		position: absolute;
		padding-block-end: 25px;
		width: 100%;
		bottom: 0;
	}
}