.cupertino-pane-wrapper .pane{
    padding-inline-start: 25px;
    padding-inline-end: 25px;
    box-shadow: var(--box-shadow-panel);
    border-radius: var(--border-radius-panel);
    ion-item{
        --padding-start: 0;
        --border-width: 0 0 1px 0;
        --border-color: var(--ion-color-custom-text);
        &.list-title{
            --inner-padding-end: 0;
            --border-width: 0 0 1px 0;
            --border-color: var(--ion-color-paragraph);
        } 
    }
}

.cupertino-pane-wrapper .draggable {
    padding-top: 15px ;
}

.cupertino-pane-wrapper .move{
    width: 80px;
    height: 3px;
    background-color: var(--ion-color-paragraph);
}
